
body {
	font-family: 'Comfortaa', cursive;
	/*background: url(Images/Sugar.jpg) no-repeat fixed top center;*/
	padding: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	/*-webkit -background-size: 100% 100%;
	-moz -background-size: 100% 100%;
	background-size: 100% 100%;
	-o -background-size: 100% 100%;*/
}

header {
	font-weight: bold;
}

#main-header {
	height: 80px;
}

/*Logo*/

.logo {
	height: 44.8px;
	width: 38.21px;
	float: right;
	padding: 5px 0px 0px 0px;
	margin: 10px 10px 0px 0px;
}

/*Search*/

#search {
	padding: 15px
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*Title*/

.company-name {
	font-size: 40px;
	padding: 15px 15px 15px 0px;
	margin: 10px 8px 0px 0px;
	float: left;
	width: 290px;
}

/*Search*/

/* Banner Section */

#banner {
	height: 598px;
}

.image-1container {
	text-align: left;
	color: #FFFAFA;
	position: relative;
}

.image-1text {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 12px;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

.image-1text > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

#image-1 {
	float: left;
	width: 495px;
	height: 598px;
}

.image-2acontainer {
	text-align: left;
	color: #FFFAFA;
	position: relative;
}

.image-2atext {
	position: absolute;
	top: 8px;
	left: 521px;
	font-size: 12px;
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
}

.image-2atext > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

#image-2a {
	float: right;
	width: 495px;
	height: 294px;
}

#image-2b {
	float: right;
	width: 495px;
	height: 294px;
	margin-top: 10px;
}

.image-2bcontainer {
	text-align: left;
	color: #FFFAFA;
	position: relative;
}

.image-2btext {
	position: absolute;
	top: 310px;
	left: 521px;
	font-size: 12px;
	font-weight: bold;
}

.image-2btext > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

/*Welcome Section*/
#welcome {
	float: left
	font-size: 12px
	height: 200px;
}

#welcome > header {
	font-size: 24px;
	margin-top: 20px;
	text-align: center;

}

#main {

}

#image-3 {
	width: 693px;
	height: 371px;
	float: left;
}

.image-34container {
	text-align: left;
	color: #FFFAFA;
	position: relative;
}

.image-3text {
	position: absolute;
	top: 8px;
	left: 16px;
	font-size: 12px;
	font-weight: bold;
}

.image-3text > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

#image-4 {
	width: 297px;
	height: 371px;
	float: left;
	margin-left: 10px;
}

.image-4text {
	position: absolute;
	top: 8px;
	left: 719px;
	font-size: 12px;
	font-weight: bold;
}

.image-4text > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

#image-5 {
	width: 297px;
	height: 371px;
	float: left;
	margin-top: 10px;
}

.image-56container {
	text-align: left;
	color: #FFFAFA;
	position: relative;
}

.image-5text {
	position: absolute;
	top: 389px;
	left: 16px;
	font-size: 12px;
	font-weight: bold;
}

.image-5text > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

#image-6{
	width: 693px;
	height: 371px;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

.image-6text {
	position: absolute;
	top: 389px;
	left: 323px;
	font-size: 12px;
	font-weight: bold;
}

.image-6text > a {
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	font-size: 10px;
}

/*Container for News*/
.company-info {
	float: left;
	width: 100px;
}

.company-info > header {
	margin-top: 20px;
}

#social {
	float: right;
	width: 900px;
	margin: 20px 0px 20px 0px;
}

#social > header {
	margin-left: 5px;
	font-weight: bold;
}

#social > p {
	margin: 0px 0px 3px 5px;
	text-align: left;

}

#social > p > a {
	text-decoration: none;
	color: inherit;
	font-size: 10px;
}

footer {
	width: 100%
	margin: 20px 0px 20px 0px;
	padding: 5px 0px 0px 0px;
	font-size: 12px;

}




