
body {
	font-family: 'Comfortaa', cursive;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

}

header {

}

#main-header {
	height: 80px;

}

/*Logo*/

.logo {
	height:60px;
	width:60px;
	float: left;
	margin-right: 10px;
	border-radius: 50px;
}

/*Title*/

#header-name {
	font-size: 40px;
	padding: 15px;
	margin-top: 50%;

}

/*Search*/

#search {
	float: right;
	padding: 5px;
	margin: 10px 10px 0px 0px;

}

/* Banner Section */

#main-image {
	float: left;
	width: 70%;
	height: 300px;

}

#cookie-day {
	float: right;
	width: 30%;
	height: 300px;

}

/*Welcome Section*/
#welcome {
	float: left
	font-size: 12px
	margin: 20px 0px 20px 0px;
}

#welcome> header {
	color: green;
	font-size: 15px;
	font-weight: bold;
	margin: bottom;
}